.header__lang-link {
    max-width: 29px;
    width: 100%;
    text-decoration: none;
    margin-right: 48px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
}

.header__lang-link:first-of-type {
    margin-right: 18px;

}


@media (max-width: 768px) {
    .header__lang-link {
        margin-right: 24px;
    }
}

@media (max-width: 425px) {
    .header__lang-link {
        max-width: 22px;
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        margin-right: 16px;
    }
}