.header__logo {
    position: absolute;
    width: 176px;
    height: 52px;
    top: 28px;
    left: 48px;
}

@media (max-width: 768px) {
    .header__logo {
        top: 28px;
        left: 28px;
    }
}

@media (max-width: 425px) {
    .header__logo {
        width: 142px;
        height: 42px;
        top: 16px;
        left: 16px;
    }
}