.header {
  margin: 28px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 425px) {
  .header {
    margin-top: 16px;
  }
}