.header__lang-link_ru{
    position: absolute;
    right: 95px;
}

@media (max-width: 768px) {
    .header__lang-link_ru {
        right: 71px;
    }
}

@media (max-width: 425px) {
    .header__lang-link_ru {
        right: 56px;
    }
}