.header__lang-link_ru {
    position: absolute;
    width: 30px;
    height: 28px;
    right: 95px;
    top: 46px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
}

@media (max-width: 768px) {
    .header__lang-link_ru {
        right: 71px;
        top: 46px;
    }
}

@media (max-width: 425px) {
    .header__lang-link_ru {
        width: 22px;
        height: 20px;
        right: 56px;
        top: 30px;
        font-size: 18px;
        line-height: 20px;
    }
}